@import "style";

body{
    width: auto;
    min-width: 272px;
    font-family: $fontText;
}
header a{
    position: absolute;
    top:20px;
    left: 20px;
    color: #353535;
}
h1{
    font-family: $fontLogoTitle;
    text-align: center;
    margin: 4px 0;
    font-weight: 500;
}
div{   
    img{
        object-fit: cover;
        width:100%;
        height: 200px;      
    } 
}
main{
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    transform: translateY(-22px);  
    margin-bottom: -30px;
}
.name{
    min-width: 300px;
    display: flex;
    padding-top: 20px;
    justify-content: left;
    margin-left: 10px;
}
h2{
    font-family: $fontLogoTitle;
    font-weight: 500;
}
.heart{
    position: relative;
    bottom: -10px;
    right: -15%;  
}
.entrees__3, .plats__3, .desserts__3{
    display: flex;
    flex-direction: column;
}
.entrees > p, .plats > p, .desserts > p{
    margin:20px 0 20px 5%;
    color: #353535;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 40px;
        height: 3px;
        background-color: $tertiaryColor;
        left: 0;
        bottom: -8px;
    }
}
.btn2{
    margin: 0 5% 15px 5%;
    font-family: $fontText;
    background: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 7px 7px rgba(236,236,236,0.85); 
    box-shadow: 0px 0px 7px 7px rgba(236,236,236,0.85);
    &:focus{
        outline: none;
    } 
}
.btn2__texts{   
    margin-left: 7px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    & h3{
        margin: 9px 0 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;  
    }
    & p{
        text-align: left;
        color: #353535;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.btn2__prix{  
    display: flex;
    min-width: 50px;
    justify-content: center;
    align-self: flex-end;
    transition: transform 700ms;
    & p{      
        font-weight: 600;
        align-self: flex-end;   
        margin-bottom: 10px;
        margin-right: 5px;
    }
    & div{
        position: relative;
        background-color: $tertiaryColor;
        height: 60px;
        width: 0;
        transition: width 500ms;
        transform-origin: right;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        &::before{
            font-family:'Font Awesome\ 5 Free';
            top: 35%;
            left: 100%;
            position: absolute;
            content: '\f058';
            background-color: $tertiaryColor;
            color: white;
            font-size:0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(0);   
            font-weight: 900;
            transition: font-size 0.3s,transform 0.5s, left 0.5s;
        }
    }
}
.btn2:hover{
    .btn2__prix{
        & div{
            width: 55px;
            &::before{
                font-size: 1.5em;
                transform: rotate(-360deg);
                left: 35%;
            }
        }  
    }
}
.btn-align{
    padding-top: 20px;
    display: flex;     
}
@media screen and (min-width: 915px){  
    header {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            position: absolute;
            top:40px;
            left: 40px;
            color: #353535;
        }
      }
      h1 {
        font-size: 40px;
      }
    div{   
        img{
            height: 410px;      
        } 
    }
    main{
        height: 610px;
    }
   .entreesPlasDesserts{
       display: flex;
       justify-content: space-evenly;
   }
   .entrees, .plats, .desserts{
    width: 30%;
   }
   .name{
    min-width: 300px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    margin-left: 0;
    }
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
.entrees__3,.plats__3,.desserts__3{
    .btn2:nth-child(1){
        transform: translateY(-30px);
        opacity: 0;
        animation: apparition 0.4s 0.2s ease-out forwards;
    }
    .btn2:nth-child(2){
        transform: translateY(-30px);
        opacity: 0;
        animation: apparition 0.4s 0.4s ease-out forwards;
    }
    .btn2:nth-child(3){
        transform: translateY(-30px);
        opacity: 0;
        animation: apparition 0.4s 0.6s ease-out forwards;
    }
    .btn2:nth-child(4){
        transform: translateY(-30px);
        opacity: 0;
        animation: apparition 0.4s 0.8s ease-out forwards;
    }
}
